<div class="contact-info">
    <a href="mailto:tlitwiller324@gmail.com">✉ tlitwiller324@gmail.com</a>
</div>

<h1 class="site-title">Tim Litwiller Portfolio</h1>

<nav class="navbar">
    <ul>
        <li><a href="index.html" data-page="index">HOME</a></li>
        <li><a href="trailers.html" data-page="trailers">TRAILERS</a></li>
        <li><a href="projects.html" data-page="projects">PROJECTS</a></li>
        <li><a href="bio.html" data-page="bio">BIO</a></li>
    </ul>
    <div class="social-links">
        <a href="https://www.youtube.com/channel/UC4VNJO4NpcNZajBCv1x1LsQ" target="_blank"><i class="fab fa-youtube"></i></a>
        <a href="https://www.linkedin.com/in/timothy-litwiller-3b8334aa/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
</nav>
